<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% include 'components/includes.html' %}
</head>
<body class="d-flex flex-column h-100">
{% include 'components/header.html' %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Добро пожаловать</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/notebook/"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Перейти к ноутбуку</button></a>
      </div>
    </div>
  </div>
{% include 'components/footer.html' %}
</body>
</html>