<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% include 'components/includes.html' %}
</head>
<body class="d-flex flex-column h-100">
{% include 'components/header.html' %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Ноутбук</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Это страница на который вы можете запустить отработку ноутбука и получить результат его работы.</p>
        <form method="post">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <div class="row g-3 align-items-center">

</div>
        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Отработка ноутбука</button>
      </div>
    </div>
        </form>

  </div>

{% include 'components/footer.html' %}
</body>
</html>